{% extends 'base.html'%}
{% block content %}

<body>
  <h1 alig ="center" class="text-capitalize"> {{id}} </h1>
    <div class="container-fluid">
      <div class="cards-columns">
        {% for article in articles %}
        <div class="card" style=" width:50%; margin-bottom:5%; margin-left:0%;">
          <div class="card-header">
            <h2>{{article.title}}</h2>
          </div>
          <div class="card-body">
            <img src="{{article.urlToImage}}" alt="{{article.title}}" style="width:100%;" />
            <h4><b><i>Published On </i></b> {{article.publishedAt}}</h4>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</body>
{% endblock %}