{% extends 'base.html' %}
{% import 'macros.html' as macro %}




{% block content %}
<!-- Technology News  -->
<h3 class>Technology News</h3>
    {{ macro.displaySourceList(technology_sources)}}

<!-- Entertainment News  -->
<h3 class=>Entertainment News</h3>
{{ macro.displaySourceList(entertainment_sources)}}

<!-- Business News  -->
<h3 class=>Business News</h3>
    {{ macro.displaySourceList(business_sources)}}

<!-- Sport News  -->
    <h3 class=>Sports News</h3>
    {{ macro.displaySourceList(sports_sources)}}

{% endblock %}